<!DOCTYPE html>
<html lang="en" >
  <head>

    <meta charset="UTF-8" />
    <title>Home</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-th-href="@{'./css/output.css'}" />
  </head>
  <body>
    <div class="bg-gray-300 w-1/2 mx-auto mt-4 p-4">
      <h1 class="font-bold text-xl" data-th-text="${title}">Homepage</h1>
      <p>
        this is the the pagraph this is the the pagraph this is the the pagraph
        this is the the pagraphthis is the the pagraphthis is the the
        pagraphthis is the the pagraphthis is the the pagraphthis is the the
        pagraphthis is the the pagraphthis is the the pagraphthis is the the
        pagraphthis is the the pagraphthis is the the pagraphthis is the the
        pagraphthis is the the pagraphthis is the the pagraphthis is the the
        pagraphthis is the the pagraphthis is the the pagraphthis is the the
        pagraphthis is the the pagraphthis is the the pagraphthis is the the
        pagraph
      </p>
      <h2>
        <span data-th-text="${github}"></span>
      </h2>
      <a data-th-href="${github}"> </a>
      <div>
        <button
          class="text-white p-2 m-4 rounded-lg bg-blue-700 hover:bg-blue-600 border"
          data-th-href="${github}"
        >
          Click here
        </button>
      </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
